{% extends 'base.html' %}

{% block title %}
   Pokemon
{% endblock title %}


{% block contenido %}
   {{pokemon.nombre}}
{% endblock contenido %}

{% block body %}
   
   <li>Tipo: {{pokemon.tipo}}</li>
   <li>Evolucion: {{pokemon.evolucion}}</li>
   <li>Fecha de Creacion: {{pokemon.fecha_creacion|date:'d/m/Y'}}</li>
   <li>Descripcion: {{pokemon.descripcion | safe}}</li>
   {% if pokemon.icono %}
   <img src="{{pokemon.icono.url}}" alt="" height=='40px'>
   {% else %}
   <li>No hay icono cargado</li>
   {% endif %}
{% endblock body %}