{% extends 'base.html' %}

{% block title %}
   Gimnasios
{% endblock title %}


{% block contenido %}
   Listado de Gimnasios
{% endblock contenido %}

{% block body %}
<button>
<a class="navbar-brand" href={% url 'Inicio:crear_gimnasio' %}>Crear Gimnasio</a>
<button>

<form action="" method="get">
   {{formulario}}
   
  <button>Buscar</button>
</form>

{% if gimnasios %}
{% for gimnasio in gimnasios %}
<li>{{gimnasio}}
   <button><a href={% url 'Inicio:eliminar_gimnasio' gimnasio.id %}>Eliminar</a></button>
   <button><a href={% url 'Inicio:modificar_gimnasio' gimnasio.id %}>Modificar</a></button>
</li>
{% endfor %}
{% else %}
<p>No se encontraron datos cargados.</p>
{% endif %}
{% endblock body %}