{% extends 'base.html' %}

{% block title %}
   Pokemons
{% endblock title %}


{% block contenido %}
   Listado de Pokemons
{% endblock contenido %}

{% block body %}
<button>
<a class="navbar-brand" href={% url 'Inicio:crear_pokemon' %}>Crear Pokemon</a>
<button>

{% comment %} <form action="" method="get">
   {{formulario}}
   
  <button>Buscar</button>
</form> {% endcomment %}

{% if pokemons %}
{% for pokemon in pokemons %}
<li>{{pokemon}}
<button><a href={% url 'Inicio:eliminar_pokemon' pokemon.id %}>Eliminar</a></button>
<button><a href={% url 'Inicio:modificar_pokemon' pokemon.id %}>Modificar</a></button>
</li>
{% endfor %}
{% else %}
<p>No se encontraron datos cargados.</p>
{% endif %}
{% endblock body %}